ArduinoServerScheme/GetSensorIDs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="wse:GetSensorIDs"
	targetNamespace="wse:GetSensorIDs"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">

	<complexType name="GetSensorIDsRequestType">
		<sequence>
		
		</sequence>
	</complexType>
			
	<complexType name="GetSensorIDsResponseType">
		<sequence>
			<element name="IDs"  type="int" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</xs:schema>
