ArduinoServerScheme/SendWaterCommand.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="wse:SendWaterCommand"
	targetNamespace="wse:SendWaterCommand"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">

	<complexType name="SendWaterCommandRequestType">
		<sequence>
			
		</sequence>
	</complexType>
			
	<complexType name="SendWaterCommandResponseType">
		<sequence>
			<element name="status" type="int" default = "0"/>
		</sequence>
	</complexType>
</xs:schema>
